* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: none;
    flex-direction: column;
    background-color: #81b29a;
}

.tip {
    font-style: italic;
    font-weight: bold;
    margin: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.metronome {
    display: flex;
    width: 350px;
    height: 400px;
    position: relative;
}

.background-left {
    border-bottom: 400px solid #e07a5f;
    border-left: 100px solid transparent;
}

.background-center {
    flex: 1;
    background-color: #f2cc8f;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-right {
    border-bottom: 400px solid #e07a5f;
    border-right: 100px solid transparent;
}

.core {
    flex: 1;
    width: 30%;
    background-color: #f4f1de;
    margin: 24px 0;
    border: 6px dashed #e07a5f;
}

@keyframes tick {
    0%   { transform: rotate(-30deg); }
    50%  { transform: rotate(30deg);  }
    100% { transform: rotate(-30deg); }
}

.arm {
    height: 300px;
    width: 20px;
    background-color: #3d405b;
    position: absolute;
    bottom: 5px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    left: 165px;
    transform-origin: bottom center;
    animation: tick 1200ms ease-in-out infinite;
}